# Node Modules and Bower Components
node_modules
bower_components

/.web-server-pid
/app/config/parameters.yml

# Var
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

!var/SymfonyRequirements.php

# Managed by Composer
/vendor/

# Web
/web/bundles/*
/nbproject/*

.idea/
.vscode/
