//
// Buttons
//
.btn {
    position: relative;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
    &:hover,
    &:focus {
        outline: none;
        box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2);
    }
    &:active {
        outline: none;
        box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
    }
    svg {
        position: absolute;
        top: 50%;
        left: auto;
        height: 1em;
        width: 1em;
        transform: translate(0, -50%);
        + .btn-text {
            margin-left: 1.25em;
        }
    }
}
