//
// HTML
//
@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
}


//
// SVG
//
svg #Outline_Icons * {
    stroke: currentColor;
    stroke-width: 1.25;
}
svg #Filled_Icons * {
    fill: currentColor;
    stroke-width: 0;
}


//
// Font
//
.font-weight-lighter {
    font-weight: lighter;
}
p {
    margin-bottom: ($spacer * 1.5);
}


//
// Text
//
.text-columns-2 {
    @include media-breakpoint-up(sm) {
        column-count: 2;
        column-gap: $grid-gutter-width;
        > *:last-child {
            margin-bottom: 0;
        }
    }
}


//
// Table
//
.table {
    thead {
        th {
            border-top: none;
        }
    }
}


label {
    &.required:after {
        content: ' *';
        opacity: 0.5;
    }
}

.form-group.has-danger {
    .list-unstyled {
        border: 1px solid theme-color-level('danger', -9);
        border-top: 0;
        background-color: theme-color-level('danger', -10);
        color: theme-color-level('danger', 6);
        li {
            padding: 0.375rem 0.75rem;
        }
    }
}
