{% extends 'base.html.twig' %}
{% block title %}Edit your TYPO3 Sitepackage configuration{% endblock %}

{% block body %}

<div class="content-section content-section-centered bg-primary text-white">
    <div class="container text-center">
        <h1>Edit your Configuration</h1>
    </div>
</div>

<div class="content-section content-section-centered bg-default">
    <div class="container">
        <h2>Configuration</h2>
        {% form_theme form 'form/layout.html.twig' %}
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>
</div>

{% include 'default/partials/privacy-footer.html.twig' %}

{% endblock %}
