{% extends 'base.html.twig' %}
{% block title %}Create your very own TYPO3 Sitepackage{% endblock %}

{% block body %}

<div class="content-section content-section-centered bg-primary text-white">
    <div class="container text-center">
        <h1>Create your very own Sitepackage</h1>
        <p class="lead">
            Awesome you made it here! Just a few more Information about your Project and your very own Sitepackage is ready to download.
        </p>

    </div>
</div>

<div class="content-section content-section-centered bg-default">
    <div class="container">
        <h2>Configuration</h2>
        {% form_theme form 'form/layout.html.twig' %}
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>
</div>

{% include 'default/partials/privacy-footer.html.twig' %}

{% endblock %}
