//
// Colors
//
$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eceeef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #313131 !default;
$gray-900: #212121 !default;
$black:  #000 !default;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
    blue: $blue,
    indigo: $indigo,
    purple: $purple,
    pink: $pink,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    teal: $teal,
    cyan: $cyan,
    white: $white,
    gray: $gray-800,
    gray-dark: $gray-900
) !default;

$theme-colors: (
    primary: #69bba8,
    secondary: $gray-600,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    default: $white,
    light: $gray-200,
    dark: $gray-800,
    darkest: $gray-900
) !default;

//
// Settings
//
$enable-rounded:            false !default;

//
// Spacer
//
$spacer: 1rem !default;

//
// Fonts
//
$font-family-sans-serif:     'Source Sans Pro', sans-serif !default;
$font-family-serif:          'Source Serif Pro', serif !default;
$headings-margin-bottom:     $spacer !default;
$headings-font-weight:       200 !default;
$lead-font-size:             1.5rem !default;
$lead-font-weight:           200 !default;

//
// Border Radius
//
$border-radius:              0 !default;
$border-radius-lg:           0 !default;
$border-radius-sm:           0 !default;

//
// Input
//
$input-border-color:         #ddd !default;

//
// Navbar
//
$navbar-border-radius:       0 !default;
