{% extends 'SitepackageGeneratorBundle::Layout.html.twig' %}
{% block title %}Edit your TYPO3 Sitepackage configuration{% endblock %}

{% block body %}

<div class="content-section content-section-centered bg-primary text-white">
    <div class="container text-center">
        <h1>Edit your Configuration</h1>
    </div>
</div>

<div class="content-section content-section-centered bg-default">
    <div class="container">
        <h2>Configuration</h2>
        {% form_theme form 'SitepackageGeneratorBundle:Form:bootstrap_4_layout.html.twig' %}
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>
</div>

<div class="content-section content-section-small content-section-centered bg-light">
    <div class="container text-center">
        <p>
            <strong>We respect your Privacy.</strong><br>
            We are not storing, sharing or doing any other crazy stuff with the data you provide to generate your very own sitepackage. Simple as that.

        </p>
    </div>
</div>

{% endblock %}
