{% extends 'SitepackageGeneratorBundle:Layout.html.twig' %}

{% block body %}

<div class="content-section content-section-centered content-layout-primary">
    <div class="container text-xs-center">
        <h1>Create your very own Sitepackage</h1>
        <p class="lead">
            Awesome you made it here! Just a few more Information about your Project and your very own Sitepackage is ready to download.
        </p>

     </div>
</div>

<div class="content-section content-section-centered content-layout-default">
    <div class="container">
        {% form_theme form 'SitepackageGeneratorBundle:Form:bootstrap_4_layout.html.twig' %}
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>
</div>

<div class="content-section content-section-small content-section-centered content-layout-light">
    <div class="container text-xs-center">
        <p>
            <strong>We respect your Privacy.</strong><br>
            We are not storing, sharing or doing any other crazy stuff with the data you provide to generate your very own sitepackage. Simple as that.

        </p>
    </div>
</div>

{% endblock %}
