<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<xliff version="1.0">
	<file source-language="en" target-language="de" datatype="plaintext" original="messages" date="2015-06-23T11:36:30Z">
		<header>
			<authorName>{{ package.author.name}}</authorName>
			<authorEmail>{{ package.author.email }}</authorEmail>
		</header>
		<body>
		</body>
	</file>
</xliff>